---
title: "Photography"
---

<div class="m-section-body">
  <div class="m-section-body__content">
    <h2>Photography</h2>
    <div class="m-mosaic clear">
      <h3>Good Photos</h3>
      <div class="m-mosaic-60">
        <img class="" src="<%= image_path("obama1.jpg") %>">
        <img class="" src="<%= image_path("capital.jpg") %>">
      </div>
      <div class="m-mosaic-40">
        <img class="" src="<%= image_path("mother.jpg") %>">
        <img class="" src="<%= image_path("cuomo.jpg") %>">
        <img class="" src="<%= image_path("sunset.jpg") %>">
      </div>
    </div>
    <div class="m-mosaic clear">
      <h3>Bad Photos</h3>
      <div class="m-mosaic-40">
        <img class="" src="<%= image_path("jobs.jpg") %>">
        <img class="" src="<%= image_path("output.jpg") %>">
        <img class="" src="<%= image_path("mcd-screen.jpg") %>">
      </div>
      <div class="m-mosaic-60">
        <img class="" src="<%= image_path("eu-cont.jpg") %>">
        <img class="" src="<%= image_path("gun-owner.jpg") %>">
      </div>
    </div>
  </div>
</div>
